:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
}

.recipe__container {
  width: 100%;
  max-width: 100vw;
  background-color: white;
  height: 100%;
  font-family: "Outfit", sans-serif;
}

.recipe__container--main-title {
  font-size: 2rem;
  color: var(--stone-900);
  font-family: "Young Serif", serif;
}

.recipe__container--secondary-title {
  color: var(--brown-800);
  margin-bottom: 1rem;
  font-family: "Young Serif", serif;
}

.recipe__image {
  background-color: yellowgreen;
  background-image: url("./assets/images/image-omelette.jpeg");
  width: 100%;
  max-width: 600px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 130px;
  height: auto;
  margin: 0 auto;
}

.container__elements {
  padding: 1rem 0;
  margin: 0 10%;
}

.recipe__container--border-bottom {
  border-bottom: 1px solid var(--stone-150);
}

.preparation__container {
  background-color: var(--rose-50);
  border-radius: 10px;
  padding: 1rem 1rem;
}

.preparation__title {
  color: var(--rose-800);
  padding: 0 10px;
}

.recipe__list {
  line-height: 2;
  padding-left: 20px;
}

.recipe__list--item {
  padding: 0 2rem;
}

.bullet-rose::marker {
  color: var(--rose-800);
}

.recipe__instruction--bullet::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.recipe__nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.recipe__nutrition-table tr {
  border-bottom: 1px solid var(--stone-150);
  text-align: center;
  padding: 1rem 0;
  height: 2.5rem;
}

.brown-cell {
  color: var(--brown-800);
  font-weight: 500;
  text-align: left;
}

@media (min-width: 768px) {
  .recipe__container {
    max-width: 500px;
    margin: 2.5rem auto;
    border-radius: 20px;
    padding-top: 1.5rem;
  }

  .recipe__image {
    max-width: 90%;
    border-radius: 5px;
  }

  .container__elements {
    margin: 0 5%;
  }
}